*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/ultimateFram
/gradle
/captures
.externalNativeBuild
将删除 .gitignore
将删除 .idea/
将删除 app/
将删除 build.gradle
将删除 gradle.properties
将删除 gradle/
将删除 gradlew
将删除 gradlew.bat
将删除 message
将删除 settings.gradle
将删除 ultimateFram/
将删除 app/src/main/res/color/
将删除 app/src/main/res/mipmap-xxxhdpi/saomiao.png
将删除 camera/
